.flower-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}

.leaves {
    position: absolute;
    top: 120%;
    left: 35%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: auto;
}

.flower-bg {
    width: 100%;
    height: auto;
}

.petal-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.petal-img:hover {
    transform: translate(-50%, -50%) scale(1.2);
}

.life-circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 30%;
    height: auto;
    border-radius: 100px;
    z-index: 4;
}

.family-petal {
    top: 20%;
    left: 52%;
    z-index: 2;
}

.rest-petal {
    width: 40%;
    top: 25%;
    left: 75%;
    z-index: 1;
}

.friends-petal {
    width: 55%;
    top: 52%;
    left: 82%;
    z-index: 1;
}

.school-petal {
    width: 40%;
    top: 73%;
    left: 72%;
    z-index: 1;
}

.spirit-growth-petal {
    width: 30%;
    top: 82%;
    left: 53%;
    z-index: 1;
}

.health-petal {
    width: 40%;
    top: 73%;
    left: 28%;
    z-index: 1;
}

.hobbies-petal {
    width: 55%;
    top: 50%;
    left: 18%;
    z-index: 1;
}

.self-improve-petal {
    width: 40%;
    top: 25%;
    left: 28%;
    z-index: 3;
}