html {
    min-height: 100vh;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    background: linear-gradient(#55DBFE,#A7EDFF);
    background-attachment: fixed;
}